h1 {
  text-align: center;
  font-size: 40px;
  font-family: Helvetica;
  color: #444cf7;
  letter-spacing: 2px;
  transition: color 0.3s ease-in-out;
}

h1:hover {
  animation: jump 0.5s infinite;
}

@keyframes jump {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-3px);
  }
  90% {
    transform: translateY(-2px);
  }
}
  
  input {
    display: block;
    margin: 0 auto;
    width: 300px;
    padding: 10px;
  }

  #inputText {
    display: block;
    margin: 0 auto;
  }
  
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-family: "Trirong", serif;

  }
  

  .animated-button {
    position: relative;
    background-color: #444cf7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  .animated-button:hover {
    transform: scale(1.1);
    background-color: #00b3ff;
  }
  
  .animated-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #444cf7;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
  }
  
  .animated-button:hover::before {
    opacity: 1;
  }
  
  .animated-button span {
    position: relative;
  }

  canvas {
    display: block;
    margin: 20px auto;
    border: 1px solid black;
    width: 800px;
    height: 600px;
    background-color: white;

  }

  textarea {
    width: 400px;
    height: 100px;
    resize: vertical;
  }
  